<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlinechat.mapper.TGroupMsgMapper">

    <resultMap id="lastMsg" type="com.onlinechat.entity.vo.BriefMsgVO">
        <result column="friendOrGroupId" property="friendOrGroupId"/>
        <result column="friendOrGroupName" property="friendOrGroupName"/>
        <result column="avatar" property="avatar"/>
        <result column="message_content" property="lastMsg"/>
        <result column="create_time" property="messageTime"/>
        <association property="lastMsgUser"
                     javaType="com.onlinechat.entity.vo.UserVO">
            <result property="id" column="id"/>
            <result property="username" column="username"/>
            <result property="userProfile" column="user_profile"/>
        </association>
    </resultMap>

    <select id="getMessageList" resultType="com.onlinechat.entity.TGroupMsg">
        SELECT `id`,`group_id`,`user_id`,`message_type`,`message_content`,`create_time`
            FROM t_group_msg
            WHERE `group_id` = #{chatGroupId}
    </select>
    <select id="getlastMsg" resultMap="lastMsg">
        SELECT g1.`id` friendOrGroupId,g1.`group_name` friendOrGroupName,g1.`group_profile` avatar,u.`id`,u.`username`,u.`user_profile`,gm.`message_content`,gm.`create_time`
        FROM t_group_msg gm
        LEFT JOIN t_group g1 ON gm.`group_id`=g1.`id`
        LEFT JOIN t_user u ON u.`id` = gm.`user_id`
        WHERE gm.`group_id`=#{groupId}
        ORDER BY gm.`create_time` DESC
        LIMIT 1;
    </select>
</mapper>
