<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlinechat.mapper.UserFriendMapper">

    <select id="getFriendGroupList" resultType="com.onlinechat.entity.vo.FriendGroupVO">
        SELECT uf.`id`,uf.`friend_id`,u.`username` friendUsername,u.`user_profile`
            FROM user_friend  uf
	    LEFT JOIN t_user u	ON uf.`friend_id` = u.`id`
            WHERE uf.user_id = #{username}
    </select>

    <select id="getFriendList" resultType="com.onlinechat.entity.vo.UserFriendVO">
        SELECT uf.`id`,uf.`friend_id`,u.`username` friendUsername,u.`user_profile`
            FROM user_friend  uf
	    LEFT JOIN t_user u	ON uf.`friend_id` = u.`id`
            WHERE uf.user_id = #{username}
    </select>
</mapper>
